<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title About</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")
    @Styles.Render("~/Content/about.css")
    @Styles.Render("~/Content/navbar.css")

</head>
<body>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
